
GOOGLE_API_KEY=sua-api-key-aqui

# Caminho do banco SQLite
DB_PATH=data/passos_magicos.db


ENVIRONMENT=development
# Porta da API 
API_PORT=8000


API_URL=http://localhost:8000
STREAMLIT_PORT=8501

MODELS_DIR=app/models


DRIFT_THRESHOLD=0.2

MIN_SAMPLES_RETRAIN=100
